body {
    background-color: #333;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    z-index: 1;
}
.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__title {
    font-size: 50px;
    text-align: center;
}

.player-select {
    display: flex;
    justify-content: space-around;
    margin: 30px 0 30px;
}

.player-select__item {
    font-size: 250px;
    background: none;
    border: none;
    outline: none;
    color: #333;
    opacity: 0.8;
    cursor: pointer;
}

.player-select__item:hover {
    transform: scale(1.3);
    transition-duration: 100ms;
    opacity: 1;
}

.result-section__wraper {
    margin: 60px 0 30px;
    display: flex;
}

.player-result,
.computer-result {
    width: 50%;
    text-align: center;
}

#computer-result__icon,
#player-result__icon {
    font-size: 100px;
}

.declare-winner {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: 2;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.declare-winner__text {
    font-size: 50px;

}